* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  display: flex;
}
.img-container {
  background-color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  background-color: lightgray;
  width: 200px;
  display: flex;
  border-radius: 25px;
}

button {
  margin: 50px;
  border-radius: 5px;
  padding: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif ;
  border: 1px solid black;

}

button:hover {
  background-color: lightgray;
  cursor: pointer;

}

.dark-mode {
  background-color: rgb(12, 1, 170);
    color: white;

}